.sticker-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(1px);
}

/* Popup content */
.sticker-popup-content {
  background: linear-gradient(45deg, #9eec51, #d13b53, #fff6ea);
  padding: 1.5rem 1rem;
  min-width: 200px;
  max-width: 90vw;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.35);
  border: 10px solid transparent; /* fallback for border-image */
  border-image: url("../assets/bg.webp") 30 round;
  border-radius: 30px;
  animation: popupAppear 4.10s ease-out forwards;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  position: relative;
  overflow: hidden;
}

.popup-gif {
  width: 100%;
  max-width: 300px; 
  margin: 0 auto 1rem; 
  overflow: hidden;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}

.popup-gif img {
  width: 100%;
  display: block;
  object-fit: cover;
}

@keyframes popupAppear {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}



.sticker-popup-content::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 20px;
  background: linear-gradient(45deg, #9eec51, #385e12, #d13b53, #fff6ea);
  opacity: 0.15;
  filter: blur(20px);
  z-index: 0;
  animation: gradientShift 5s infinite linear;
}

.sticker-popup-content h2 {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

.sticker-popup-content p {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.sticker-popup-close {
  position: relative;
  z-index: 1;
  padding: 0.7rem 2rem;
  border: none;
  border-radius: 15px;
  background: linear-gradient(135deg, #d13b53);
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.sticker-popup-close:hover {
  background: linear-gradient(135deg, #85c43f);
  transform: scale(1.08) rotate(-1deg);
}

@keyframes popupAppear {
  from {
    transform: scale(0.7) rotate(-2deg);
    opacity: 0;
  }
  to {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
}

@keyframes gradientShift {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
